.desktop_menu {
  display: flex;
}

.mobile_menu {
  display: none;
}

.mobile_menu_item {
  margin-right: 30px;
}

@media screen and (max-width: 490px) {
  .desktop_menu {
    display: none;
  }
  .mobile_menu {
    display: flex;
  }

  .mobile_menu_item {
    margin-top: 30px;
    margin-right: 0;
  }
}
